.about {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.about__image {
  width: 40vw;
}

.about__paragraph {
  font-size: 20px;
}
