.button {
  max-width: 90%;
  text-decoration: none;
  background-color: #0882ff;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  padding: 5% 30%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  transition: background-color .25s ease-out;
}

.button:hover {
  background-color: #55f676;
}