.cv {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  max-width: 1280px;
}

.cv__content {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border-radius: 20px;
  min-height: 600px;
}

.cv__profile {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
}

.cv__title {
  max-width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0;
  font-size: 32px;
}

.cv__subtitle {
  max-width: 100%;
  padding: 0;
  margin: 0;
  color: #aaaaaa;
  padding: 0 0 20px 0;
  font-size: 20px;
}

.cv__photo {
  background-color: #0882ff;
  border-radius: 100px;
  width: 200px;
}

.cv__icon {
  width: 40px;
  height: 40px;
  background-color: #0882ff;
  border-radius: 20px;
  margin: 3px;
  transition: opacity 500ms;
}

.cv__icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cv__main {
  width: 860px;
  display: flex;
  flex-direction: row;
  background-color: #666666;
  border-radius: 20px;
  padding: 0 20px 0 0;
  border: 10px solid black;
}

.cv__column {
  width: 440px;
  padding: 20px 0 0 20px;
}

.cv__menu {
  width: 100px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.cv__paragraph-container {
  position: relative;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid black;
  z-index: 1;
  transition: border-color 500ms;
  margin: 0 0 20px 0;
}

.cv__paragraph-container_hidden {
  display: none;
}

.cv__paragraph-container:before {
  background-color: #ff5831;
  opacity: 0.2;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cv__paragraph-container:hover {
  border: 1px solid #ff3c10;
}

.cv__headline {
  padding: 0;
  margin: 0 0 30px;
  font-size: 24px;
}

.cv__paragraph {
  max-width: 320px;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.cv__menu {
  padding: 25px 0 25px 0;
  margin-left: 20px;
  border-radius: 50px;
  width: 80px;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  height: 150px;
}

/*
.cv__icon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cv__icon-container_active {
}
*/
.cv__menu-icon {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.cv__education {
  border: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cv__link-button {
  border: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: background-color 500ms;
}

.cv__link-button_active {
  background-color: #55f676;
}

.cv__link-button:hover {
  background-color: #55f676;
}
