.cv {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .cv {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
}

.cv__content {
  display: flex;
  background-color: #000000;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .cv__content {
    flex-direction: column;
  }
}

.cv__profile {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  .cv__profile {
    margin: 0 auto;
  }
}

.cv__title {
  max-width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0;
  font-size: 32px;
}

.cv__subtitle {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.cv__photo {
  background-color: #0882ff;
  border-radius: 100px;
  max-width: 200px;
}

.cv__icon {
  width: 40px;
  height: 40px;
  background-color: #0882ff;
  border-radius: 20px;
  margin: 10px 10px 0;
}

.cv__icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cv__main {
  max-width: 880px;
  display: flex;
  background-color: #666666;
  border-radius: 20px;
  gap: 20px;
}

@media screen and (max-width: 770px) {
  .cv__main {
    flex-direction: column;
    align-items: center;
  }
}

.cv__column {
  max-width: 440px;
  padding: 30px 30px;
}

.cv__headline {
  padding: 0;
  margin: 0 0 30px;
  font-size: 24px;
  text-align: center;
}

.cv__paragraph {
  max-width: 320px;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.cv__menu {
  max-width: 100px;
  padding: 25px 0 25px 0;
  margin-left: 20px;
  border-radius: 50px;
  width: 80px;
  background-color: #666666;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .cv__menu {
    flex-direction: row;
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    height: 30px;
    margin-top: 30px;
    align-items: center;
  }
}

.cv__menu-icon {
  margin: 10px auto;
  width: 50px;
  height: 50px;
}

.cv__menu-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
